@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Vazirmatn';
    src: url('vazirmatn/fonts/webfonts/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.300') theme('colors.white');
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-gray-300;
}

*::-webkit-scrollbar-track {
    @apply bg-white;
}
